service: poc-crawler-infrastructure

provider:
  name: aws
  runtime: nodejs12.x
  region: ap-southeast-1

custom:
  esDomainName: product-search

resources:
  Resources:
    productManagementESDomain:
      Type: "AWS::Elasticsearch::Domain"
      Properties:
        DomainName: ${self:custom.esDomainName}
        ElasticsearchVersion: 7.9
        ElasticsearchClusterConfig:
          InstanceType: t2.small.elasticsearch
          InstanceCount: 1
          DedicatedMasterEnabled: true
          ZoneAwarenessEnabled: false
        EBSOptions:
          EBSEnabled: true
          VolumeSize: 10
          VolumeType: gp2
