service: poc-crawler-api

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  region: ap-southeast-1
  infrastructure: ${file(../infrastructure/export.yml)}
  environment:
    ES_END_POINT: ${self:provider.infrastructure.esEndPoint}
    ES_DOMAIN_NAME: ${self:provider.infrastructure.esDomainName}
    REGION: "ap-southeast-1"

functions:
  getProducts:
    handler: ./src/products/list-products/handler.getProducts
    events:
      - http:
          path: /products
          method: get
          cors: true
  bulkProducts:
    handler: ./src/products/bulk-products/handler.bulkProducts
    events:
      - http:
          path: /products
          method: post
          cors: true
